<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
</head>

<body>
    <table>
        <tr>
            <th>Username</th>
            <th>Score</th>
            <th>Unit</th>
        </tr>
        <% leaderboard.scores.forEach(function (score) { %>
            <tr>
                <td>
                    <%= score.username %>
                </td>
                <td>
                    <%= score.score %>
                </td>
                <td>
                    <%= leaderboard.unit%>
                </td>
            </tr>
            <% }) %>
    </table>
    <form action="/addScore" method="POST">
        <table class="center">
            <textarea name="_id" style="display: none;"><%= leaderboard._id %></textarea>

            <tr>
                <td><label for="username">UserName</label></td>
                <td><input type="text" placeholder="username" id="username" name="username"></td>
            </tr>
            <tr>
                <td><label for="score">Score</label></td>
                <td><input type="number" id="score" name="score"></td>
            </tr>
        </table>
        <div class="submit">
            <button>Add</button>
        </div>
    </form>
</body>

</html>