<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged in</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <h1>Your Leaderboards</h1>
    <% leaderboards.forEach(function (leaderboards) { %>

        <a type="button" href="/leaderboard/<%= leaderboards._id %>" id="button" for="button" name="button">
            <%= leaderboards.title %>
        </a>


        <!-- note you defined the field as Name not name -->
        <% }) %>
            <a href="/create">Add Leaderboard</a>
            <a href="/logout">Log out</a>
</body>

</html>