<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <h1>
    SignUp Page
  </h1>
  <form action="/register" method="POST">
    <table class="center">
      <tr>
        <td><label for="username">User Name</label></td>
        <td><input type="text" id="username" name="username"></td>
      </tr>
      <tr>
        <td><label for="password">Password</label></td>
        <td><input type="password" id="password" name="password"></td>
      </tr>
      <tr>
        <td><label for="email">E-Mail</label></td>
        <td><input type="text" name="email" id="email"></td>
      </tr>
    </table>
    <p class="pwmin">Password minimum: </p>
    <ul class="pwmin">
      <li>min. 8 Characters</li>
      <li>1 Capital</li>
      <li>1 Number</li>
      <li>1 Letter</li>
      <li>1 Special character</li>
    </ul>
    <div class="submit">
      <button>Submit</button>
    </div>
  </form>
  <br>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login">login</a></li>
  </ul>
</body>

</html>